# Task 4

In [ ]:
import sqlite3

connection = sqlite3.connect("Data/books.db")

Section 1: SELECT

In [ ]:
import pandas as pd

pd.read_sql("SELECT * from titles",connection)

Section 2: WHERE

In [ ]:
pd.read_sql("""SELECT * FROM titles WHERE copyright > '2017'""",connection)

In [ ]:
pd.read_sql("""Select first,last from authors where last ='Deitel'""",connection)

In [ ]:
pd.read_sql("""SELECT id, first, last
            FROM authors
            where first LIKE '_a%'""", 
            connection, index_col=["id"])

Section 3

In [ ]:
pd.read_sql("SELECT title FROM titles ORDER BY title ASC", connection)

In [ ]:
pd.read_sql("""SELECT id,first,last
            FROM authors
            ORDER BY last,first""",
            connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT id,first,last
            FROM authors
            ORDER BY last DESC, first ASC""", 
            connection, index_col=["id"])

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright
            FROM titles
            WHERE title LIKE '%How to Program'
            ORDER BY title""", 
            connection)

Section 4: INNER JOIN

In [ ]:
pd.read_sql("""SELECT first, last,author_ISBN.isbn
            FROM authors 
            INNER JOIN author_ISBN
             ON authors.id = author_ISBN.id
            INNER JOIN titles
              ON titles.isbn = author_ISBN.isbn
            ORDER BY last, first""", 
            connection).head()

Section 5: INSERT INTO.

In [ ]:
cursor =connection.cursor()

cursor = cursor.execute("""INSERT INTO authors (first, last) VALUES ("Uma", "Subramanian")""")
cursor = cursor.execute("""INSERT INTO titles(isbn,title,edition,copyright) VALUES (0134289369,'Osho Stories',2,2019)""")

In [ ]:
pd.read_sql("SELECT * FROM titles", 
            connection)

In [ ]:
pd.read_sql("Select * from authors", connection)

Section 6: UPDATE

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Selvan'
                        WHERE first='Uma'""")
cursor = cursor.execute(""" update titles set copyright=2010 where isbn='134289369'""")

In [ ]:
pd.read_sql("SELECT * FROM titles", 
            connection)

In [ ]:
pd.read_sql("Select * from authors", connection)

Section 7: DELETE FROM

In [ ]:
cursor = cursor.execute("DELETE FROM authors WHERE first ='Uma'")
cursor = cursor.execute("Delete from titles where title like 'Osho%'")

In [ ]:
pd.read_sql("Select * from authors", connection)

In [ ]:
pd.read_sql("SELECT * FROM titles", 
            connection)